---
import Form from "../ui/Forms/Form.astro";
import FormInput from "../ui/Forms/FormInput.astro";
import { convertClientsDataToJSON } from "../../functions/ConvertClientsDataToJSON";
import { turso } from "../../turso";
// Obtener datos de clientes desde la base de datos
let clientData = await turso.execute("SELECT * FROM Clientes");
const data = clientData.toJSON();
const result = convertClientsDataToJSON(data);
---

<Form title="Agregar Nuevo Cliente">
  <div class="grid grid-cols-2 gap-4">
    <!-- Primera columna -->
    <div class="flex flex-col">
      <!-- Nombre del Cliente -->
      <FormInput
        type="text"
        name="nombre_Cliente"
        title="Nombre"
        placeholder="Nombre"
        isRequired
      />

      <!-- Apellido del Cliente -->
      <FormInput
        type="text"
        name="apellido_Cliente"
        title="Apellido"
        placeholder="Apellido"
        isRequired
      />
    </div>

    <!-- Segunda columna -->
    <div class="flex flex-col">
      <!-- Teléfono -->
      <FormInput
        type="text"
        name="telefono"
        title="Teléfono"
        placeholder="Teléfono"
        isRequired
      />

      <!-- Correo Electrónico -->
      <FormInput
        type="email"
        name="correo"
        title="Correo Electrónico"
        placeholder="Correo Electrónico"
        isRequired
      />
    </div>
  </div>

  <slot />
</Form>