---
// Importaciones
import Layout from '../../layouts/Layout.astro';
import './src/styles/global.css';
import ClientsTable from '../../components/tables/clientsTable.astro';
---

<Layout>
  <div class="flex flex-col justify-center items-center margin-top-50">
    <h1 class="font-bold text-4xl mb-8">Lista de Clientes</h1>
    <div class="w-full max-w-screen-4xl px-32 ml-63"> <!-- Contenedor ajustado -->
      <ClientsTable></ClientsTable>
    </div>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4">
      <a href="clients/add">Agregar</a>
    </button>
  </div>
</Layout>