---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import './src/styles/global.css' 

---

<Layout>
	<div class="flex justify-center items-center h-screen">
		<h1 class="flex font-bold text-9xl">Hola</h1>
	</div>
</Layout>
